@import url("https://fonts.googleapis.com/css?family=Inter:700,400");

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

* {
-webkit-font-smoothing: antialiased;
box-sizing: border-box;
}

html, body {
margin: 0;
height: 100%;
background-color: #fff;
}

button:focus-visible {
outline: 2px solid #4a90e2 !important;
outline: -webkit-focus-ring-color auto 5px !important;
}

a {
text-decoration: none;
}


@media (min-width: 1400px) and (max-width: 1540px) {
body {
max-width: 1540px;
margin: 0 auto;
}
}


@media (min-width: 768px) and (max-width: 850px) {
body {
font-size: 15px;
padding: 10px;
}
}


.global-header {
width: 100%;
background-color: #000;
padding: 10px 40px;
display: flex;
align-items: center;
justify-content: flex-start;
}

.header-logo img {
height: 40px;
width: auto;
display: block;
}
